<section *ngIf="Prouducts.length > 0">
  <!-- <div class="p-4 main-slide text-info mt-5">
    <h3>ALL PRODUCTS</h3>
  </div> -->
  <div class=" container ">
    <input type="search" class=" margin-top  form-control w-100 mx-auto  p-2" placeholder="search in all products ...." [(ngModel)]="term" >
  </div>
 
  <div class="row g-4 py-4 mt-3">
    <div  *ngFor=" let product of Prouducts | search : term  | paginate: { id: 'productPagenat',
    itemsPerPage: pageSize,
    currentPage: CerentPage,
    totalItems: total }" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="product  row-custom  border position-relative"> 
          <i *ngIf="!wishListData.includes(product._id)" (click)="addWishlist(product._id)" role="button" class="fa-regular fa-heart hheart "></i>
          <i *ngIf="wishListData.includes(product._id)" role="button" (click)="removeFav(product._id)" class="fa-solid fa-heart hheartRemove"></i>

          <header role="button" [routerLink]="['/productDetails',product._id]">
          <img class="w-100 h-75" [src]="product.imageCover" [alt]="product.title" [title]="product.title">
          <h3 class="h4 text-center small mt-1">{{product.title | textcut: 2 }}</h3>
          <h4 class="h6 text-muted text-center">{{product.category.name}}</h4>
          <div class="d-flex align-items-center justify-content-between px-4">
          <span>{{ product.price | currency:'e£ ' }}</span>
          <div class="text-muted ">
            <i [class.rating-color] ="product.ratingsAverage >= num" *ngFor="let num of [1,2,3,4,5]" class="  fas fa-star"></i>
             <span>{{product.ratingsAverage}}</span>    
          </div>
          </div>
        </header>
        <footer>
          <button (click)="addToCartt(product._id,addButton)" #addButton class="btn btn-info text-light fs-5  w-100 py-2 mt-1"> Add To Cart <i class="fa-solid fa-cart-shopping"></i></button>
        </footer>
      </div>

      
    </div>
  </div>

<div class="text-center m-3 p-1">
  <pagination-controls  id="productPagenat"
  (pageChange)="pageChanged($event)"
  (pageBoundsCorrection)="pageChanged($event)"
  [maxSize]="9"
  [directionLinks]="true"
  [autoHide]="true"
  [responsive]="true"
  previousLabel="Previous"
  nextLabel="Next"
  screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"
  screenReaderCurrentLabel="You're on page">
</pagination-controls>

</div>

  
  
</section>