<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"> <i>      <img src="./assets/images/homeLogo.png" width="200" alt="E_commerce-logo">
        </i> <br> we're dedicated to providing you with the best online shopping experience possible. Whether you're searching for the latest fashion trends, home decor essentials, or unique gifts for your loved ones, we've got you covered.

        Our mission is simple: to offer a wide selection of high-quality products at competitive prices, all while delivering exceptional customer service. We believe that shopping should be convenient, enjoyable, and hassle-free, which is why we've designed our website with user-friendliness in mind.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a>Men's Fashion</a></li>
          <li><a>Women's Fashion</a></li>
          <li><a>Books</a></li>
          <li><a>Mobils</a></li>
          <li><a>super Market</a></li>
          <li><a>Electronics</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a>About Us</a></li>
          <li><a>Contact Us</a></li>
          <li><a>products</a></li>
          <li><a>categories</a></li>
          <li><a>brands</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
     <a>Abdullah Gamal</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a class="dribbble"><i class="fa-regular fa-envelope"></i></a></li>
          <li><a class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>