<section class=" container w-75 margin-top mx-auto p-3 shadow">
  <p class="text-center text-info fs-5">{{iinfo}}</p>

  <h6 class="text-danger">{{responseMsg}}</h6>
  <form *ngIf="step1" [formGroup]="forgetForm" (ngSubmit)="forget()">
    <label class="my-2 fs-5" for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="Email" placeholder="Enter Your Email">
    <p class="validation text-danger"  *ngIf="forgetForm.get('email')?.getError('email')">Enter vaid Email</p>
    <button class="btn btn-info w-100 mt-3 text-light fs-5 p-1"> Submit</button>
  </form>
  <form *ngIf="step2"  [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label class="my-2 fs-5" for="Reset">Reset code </label>
    <input formControlName="resetCode" type="text" class="form-control" id="Reset" placeholder="Enter Reset code ">
    <button class="btn btn-info w-100 mt-3 text-light fs-5 p-1">Verify</button>
  </form>
  <form *ngIf="step3" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
    <label class="my-2 fs-5" for="Password">New Password </label>
    <input formControlName="newPassword" type="Password" class="form-control" id="Password" placeholder="New Password">
    <p class="validation text-danger" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">password must have capital letter, a lowercase letter, a special character, and Numbers</p>
    <button class="btn btn-info w-100 mt-3 text-light fs-5 p-1">confirm New Password</button>
  </form>
</section>