<div class="login-page ">
  <div class="form container p-3 border shadow mx-auto my-4">
    <h2 class="text-info text-center fs-3 m-3">Login Form</h2>
    <form class="login-form"  [formGroup]="loginForm" (ngSubmit)="handelLoginForm()">
      <div  *ngIf="errMsg" class=" validation text-center my-2 text-danger " role="alert">
        {{errMsg}}
      </div>
      <div class="m-2">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" placeholder="Email" formControlName="email"/>
        <p class="validation text-danger"  *ngIf="loginForm.get('email')?.getError('email')">Enter vaid Email</p>
      </div>
  


      <div class="m-2">
        <label for="password">password</label>
        <input id="password" class="form-control" type="password" placeholder="password" formControlName="password"/>
        <p class="validation text-danger" *ngIf="loginForm.get('password')?.getError('pattern')">password must have capital letter, a lowercase letter, a special character, and Numbers</p>
      </div>


      <div>
        <button class="btn btn-info w-100 p-1 text-light m-2 fs-5" [disabled]="loginForm.invalid" type="submit">login
          <span> <i *ngIf="spinner" class="fas fa-spin fa-spinner"></i> </span>
        </button>
      </div>
      <div class="d-flex justify-content-between align-items-center m-2">
        <a routerLink="/forgetPassord" class="text-info"  role="button">Forget Password ?</a>
        <a routerLink="/register" class="text-info"  role="button">Create an account ?</a>
      </div>
    </form>
  </div>
</div>