main{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.btn-up{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  color: aliceblue;
  border-radius: 10px;
  border: unset;
  font-size: 20px;
}
.Footer_down{
  
}